/* Reset browser-default style */
.top-frame{
	background-color: transparent;
	height: 95vh;
}

/*Hero section*/
#hero-footage{
	position: absolute;
	object-fit: cover;
	right: 0;
	top:0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.top-frame h1 {
	font-size: 5em;
	padding-top: 15%;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

.top-frame h2{
	padding-top: 2rem;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

.top-frame p{
	color: #fff;
	position: absolute;
	text-align: center;
	bottom: 10vh;
	width: 100%;
}

/*Introduction*/
.intro{
	display:flex;
	align-items: center;
}

.intro p{
	text-align: left;
	color: #141414;
	width: 50%;
	padding: 5% 2% 0% 5%;
	font-weight: 700;
	font-size: 1.3em;
	line-height: 2.5em;
	letter-spacing: 5px;
	text-transform: uppercase;
	line-height: 2em;
}

.intro img{
	object-fit: scale-down;
	padding: 5% 5% 5% 0%;
	width: 50%;
	margin: 0 auto;
}

.quote{
	padding: 7em 2em 7em 2em;
	text-align: center;
	font-size: 1.5em;
	background-color: rgb(240, 240, 240);
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  height: auto;
}


/*Our Work section*/
.our-work{
	background-image: url('../assets/home/our_work.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
	width: 100%;
	height: 30rem;
	padding: 5rem 0;
}

h3{
	font-size: 1.1rem;
	text-transform: uppercase;
	color: #b59b4a;
	line-height: 1.2;
	letter-spacing: 5px;
	padding: 5% 10% 0% 10%;
	text-align: center;
}

.our-work h3{
	margin: 0 auto;
	font-size: 2em;
	text-align: center;
}
.our-work p{
	padding: 2% 5% 5% 5%;
	font-size: 1.1rem;
	margin: 0 auto;
	text-align: center;
}

/*Button properties in centre of images*/
.btn{
	text-transform: uppercase;
	background-color: transparent;
  color: #fff;
  font-size: .75em;
  letter-spacing: 5px;
  padding: 20px 70px 20px 70px;
  border: 3px solid #191919;
  border-color: #fff;
  font-weight: 700;
  cursor: pointer;
  vertical-align: middle;
  transition: all .3s;

}
.img-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.btn:hover {
  background-color: #fff;
  color: black;
}

/*Film production section*/
.film-production p, .photo-production p{
	line-height: 1.5;
	padding: 2% 10% 5% 10%;
	font-size: 1.1rem;
}

.film-production img, .photo-production img{
	max-width: 1920px;
}

.film-production{
	display: flex;
	align-items: center;
}

.film-production p{
	color: #141414;
}

.film-production img{
	object-fit: cover;
	height: auto;
	width: 100%;
}

/*Photo production*/
.photo-production{
	display: flex;
	align-items: center;
	background-color: #191919;
	margin-top: -5px;
	margin-bottom: 	-5px;
}

.photo-production p{
	color: #fff;
}

.photo-production img{
	object-fit: cover;
	height: auto;
	width: 100%;
}

/*Gallery section*/
.gallery-left {
	overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  padding-bottom: 10em;
}

/* Hide the images by default */
.slides-left {
  display: none;
  margin: 0 auto;
}

/* MEDIA QUERIES FOR SMALLER SCREENS */
@media only screen and (max-width: 1000px){

#hero-footage{
	object-fit: cover;
	top: 0;
	height: 100%
	}
.top-frame{
	margin-bottom: 100px;
	}
.top-frame h1{
	padding-top: 35%;
	font-size: 10vw;
	}

 .intro{
 	display: flex;
 	flex-direction: column;
 	}

 .intro p{
 	margin: 0 auto;
 	padding: 3em 0em 1em 0em;
 	width: 80%;
 	}

 .intro img{
 	object-fit: cover;
 	margin: 0 auto;
 	padding: 4em 0em;
 	width: 90%;
 	}

 .our-work{
 	height: auto;
 	}

 .our-work p{
 	text-align: left;
 	}

 .film-production{
 	display: flex;
 	flex-direction: column;
 	}

 .photo-production{
 	display: flex;
 	flex-direction: column-reverse;
 	}

 .film-production img, .photo-production img{
 	width: 100%;
 	}

.slides-left{
	overflow: hidden;
	width: 100%;
	max-height: 700px;
	}
}
