RewriteEngine On

# external redirect from actual URL to pretty one
RewriteCond %{THE_REQUEST} /pages/film\.php[?\s] [NC]
RewriteRule ^ film [R=302,L,NE]

# internal forward from pretty URL to actual one
RewriteRule ^film/?$ film.php [L,NC]
